.home {
  /* background: hsla(173, 58%, 39%, 1); */
  background: linear-gradient(135deg, hsla(173, 58%, 39%, 1) 0%, hsla(192, 70%, 43%, 1) 100%);
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.navbar {
  user-select: none;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;

  grid-template-columns: 1fr;

  background-color: #FFFDFA;

  width: 15svw;
  height: 90svh;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right: 1px solid #00000030;
}

.navbarClose {
  user-select: none;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  background-color: #fffdfa;
  width: 3svw;
  height: 90svh;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  align-items: start;
  justify-items: end;
  padding-top: 13px;
}




.dashboard {
  display: grid;
  justify-content: center;
  text-align: center;

  grid-template-columns: 1fr;


  background-color: #FFFDFA;
  width: 78svw;
  height: 90svh;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.item {
  padding: 5px 0px;
  margin: 0px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 120ms ease-in;
  border: 1px solid rgba(0, 0, 0, 0);
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.10);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.dashboardTop {
  display: flex;
  text-align: center;
  width: 100%;
  height: 20%;
  border-bottom: 1px solid #00000015;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}